<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reporte de profesores</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Email</th>
                            <th>Departamento</th>

                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados">
                            <td>{{empleado.NOMBRE}}</td>
                            <td>{{empleado.APELLIDO_MAT}}</td>
                            <td>{{empleado.EDAD}}</td>
                            <td>{{empleado.CORREO_ELECTRONICO}}</td>
                            <td>{{empleado.DEPARTAMENTO}}</td>


                            <td class="text-nowrap">
                                <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>