<div class="row">
    <div class="col-6">
        Grafica
        <app-donut [doughnutChartLabels]="labels1" title="Ventas" [doughnutChartData]="data1"></app-donut>
    </div>

    <div class="col-6">
        Grafica
        <app-donut [doughnutChartLabels]="labels2" title="Compras" [doughnutChartData]="data2"></app-donut>
    </div>

    <div class="col-6">
        Grafica
        <app-donut [doughnutChartLabels]="labels3" title="Ingresos" [doughnutChartData]="data3"></app-donut>
    </div>

    <div class="col-6">
        Grafica
        <app-donut [doughnutChartLabels]="labels4" [doughnutChartData]="data4" title="Egresos"></app-donut>
    </div>


</div>