<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Reporte de profesores</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Edad</th>
                            <th>Correo Electrónico</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesor of profesores">
                            <td> <input type="text " class="form-control " [(ngModel)]=profesor.NOMBRE></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=profesor.APELLIDO_PAT></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=profesor.APELLIDO_MAT></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=profesor.EDAD></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=profesor.CORREO_ELECTRONICO></td>

                            <td class="text-nowrap">
                                <a (click)="editProfesor(profesor)" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Close" (click)="eliminarProfesor(profesor)"> <i class=" fa fa-close text-danger "></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>