<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de registro de grupos</h4>
                <h6 class="card-subtitle"> Introduce los datos solicitados </h6>
                <form class="form" (ngSubmit)="crearGrupo()" [formGroup]="addGrupoForm">
                    <div class="form-group m-t-40 row">
                        <label for="example-text-input" class="col-2 col-form-label">Nombre del grupo</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="example-text-input" formControlName="grupo">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="example-month-input " class="col-2 col-form-label ">Carrera</label>
                        <div class="col-10 ">
                            <select class="custom-select col-12 " formControlName="carrera" id="inlineFormCustomSelect ">
                                <option value="1">Computación</option>
                                <option value="2">Comunicaciones y Electrónica</option>
                                <option value="3">Mecánica</option>
                                <option value="4">Sistemas Automotrices</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="example-month-input " class="col-2 col-form-label ">Semestre</label>
                        <div class="col-10 ">
                            <select class="custom-select col-12 " formControlName="semestre" id="inlineFormCustomSelect ">
                                <option value="1">1°</option>
                                <option value="2">2°</option>
                                <option value="3">3°</option>
                                <option value="4">4°</option>
                                <option value="5">5°</option>
                                <option value="6">6°</option>
                                <option value="7">7°</option>
                                <option value="8">8°</option>
                                <option value="9">9°</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="example-month-input " class="col-2 col-form-label ">Turno</label>
                        <div class="col-10 ">
                            <select class="custom-select col-12 " formControlName="turno" id="inlineFormCustomSelect ">
                                <option value="1">MATUTINO</option>
                                <option value="2">VESPERTINO</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="row ">
                        <div class="col text-danger ">
                            <p *ngIf="campoNoValido('nombre') ">El nombre del grupo es obligatorio</p>
                            <p *ngIf="campoNoValido('carrera') ">La carrrera es obligatoria</p>
                            <p *ngIf="campoNoValido('semestre') ">El semestre es obligatorio</p>
                            <p *ngIf="campoNoValido('turno') ">El turno es obligatorio</p>


                        </div>
                    </div> -->
                    <button class=" btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light " type="submit ">Agregar</button>
                </form>
            </div>
        </div>
    </div>

</div>