<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Formulario de registro</h4>
                <h6 class="card-subtitle"> Introduce los datos solicitados </h6>
                <form class="form" (ngSubmit)="crearProfesor()" [formGroup]="addProfesorForm">
                    <div class="form-group m-t-40 row">
                        <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="example-text-input" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">Apellido Paterno</label>
                        <div class="col-10">
                            <input class="form-control" type="search" formControlName="lastname" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Apellido Materno</label>
                        <div class="col-10">
                            <input class="form-control" type="email" formControlName="surname" id="example-email-input">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Edad</label>
                        <div class="col-10">
                            <input class="form-control" type="tel" formControlName="age" id="example-tel-input ">
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="example-tel-input " class="col-2 col-form-label ">Dirección</label>
                        <div class="col-10 ">
                            <input class="form-control " type="text" formControlName="id_dir" id="example-tel-input ">
                        </div>
                    </div>



                    <div class="form-group row ">
                        <label for="example-month-input " class="col-2 col-form-label ">Género</label>
                        <div class="col-10 ">
                            <select class="custom-select col-12 " formControlName="id_sex" id="inlineFormCustomSelect ">
                                <option value="21 ">Masculino</option>
                                <option value="22 ">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col text-danger ">
                            <p *ngIf="campoNoValido( 'name') ">El nombre es obligatorio</p>
                            <p *ngIf="campoNoValido( 'lastname') ">El apellido materno es obligatorio</p>
                            <p *ngIf="campoNoValido( 'surname') ">El apellido paterno es obligatorio</p>
                            <p *ngIf="campoNoValido( 'age') ">La edad obligatoria</p>
                            <p *ngIf="campoNoValido( 'id_dir') ">El domicilio es obligatorio</p>
                            <p *ngIf="campoNoValido( 'id_sex') ">El genero es obligatorio</p>

                        </div>
                    </div>
                    <button class=" btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light " type="submit ">Agregar</button>
                </form>
            </div>
        </div>
    </div>

</div>