<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar alumno">
            </div>
        </div>
    </div>




</div>
<div class="col-12">
    <div class="card">



        <div class="card-body">
            <div class="row">
                <div class="col-8">

                    <h4 class="card-title ">Reporte de Alumnos</h4>
                    <h6 class="card-subtitle ">Número de alumnos ({{this.totalUsuarios}})</h6>
                </div>
                <div class="col">
                    <div class="text-right">
                        <button class="btn btn-primary">
                            <i routerLink="./agregarAlumno"  class="fas fa-user-graduate"></i>Agregar Alumno
                        </button>
                    </div>

                </div>
            </div>





            <div class="table-responsive ">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Edad</th>
                            <th>Email</th>
                            <th class="text-nowrap ">Accciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alumno of alumnos ">
                            <td> <input type="text " class="form-control " [(ngModel)]=alumno.NOMBRE> </td>
                            <td> <input type="text " class="form-control " [(ngModel)]=alumno.APELLIDO_PAT></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=alumno.APELLIDO_MAT></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=alumno.EDAD></td>
                            <td> <input type="text " class="form-control " [(ngModel)]=alumno.CORREO_ELECTRONICO></td>
                            <td class="text-nowrap text-center ">
                                <a (click)="editAlumno(alumno)" data-toggle="tooltip " data-original-title="Guardar "> <i class="fa fa-pencil text-inverse m-r-10 "></i> </a>
                                <a data-toggle="tooltip " data-original-title="Borrar " (click)="eliminarAlumno(alumno) " class="cursor "> <i class="fa fa-close text-danger "></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>